DATABASE_DRIVER=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DBNAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

SOCIAL_FACEBOOKPAGE=
SOCIAL_FACEBOOKAUTHOR=
SOCIAL_FACEBOOKAPPID=
SOCIAL_TWITTERCREATOR=
SOCIAL_TWITTERSITE=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWD=
MAIL_FROMNAME=
MAIL_FROMEMAIL=

FACEBOOK_CLIENTID=
FACEBOOK_CLIENTSECRET=
FACEBOOK_GRAPHAPIVERSION=

GOOGLE_CLIENTID=
GOOGLE_CLIENTSECRET=
